body{
    background-image: url(fundo.png);
}

img{
    height: 320px;
    width: 730px;
}
#Menu{
    background-color: rgba(215, 195, 169, 0.658);
    text-align: center;
    padding: 10px;
}

a{
    text-decoration: none;
    padding: 20px;
    color: black;
}

#Conteudo{
    background-color: azure;
    padding: 15px;
}

footer{
    text-align: center;
    
}